#nav				  { line-height:1.4em; overflow:auto; }
#nav li				  { border-right:1px solid #f8f8f8; float:left; }
#nav li a			  { text-shadow:0 1px 0 #fff; padding:10px 20px; display:block; }
#nav li a:hover		  { color:#fff; text-decoration:none; text-shadow:0 -1px 0 #000; }
#nav li a span		  { color:#999; font-size:.9em; text-transform:lowercase; display:block; }
#nav li a:hover span  { color:#ccc; }